@media screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
  }
  /* common */
  .title {
    font-size: var(--mobile-font-size);
  }
  .paragraph {
    font-size: 0.875rem;
  }

  /* Navigation */
  .nav {
    padding: 0;
    margin: 0 auto;
    padding: 2% 4%;
  }
  .logo {
    width: auto;
  }
  .logo-title {
    font-size: 1.5rem;
  }
  .full-menu {
    display: flex;
    flex-direction: row-reverse;
  }
  .menu-icon {
    display: flex;
    width: 40px;
    height: 40px;
  }
  .menu-icon:hover .menubar {
    background-color: red;
    display: flex;
    flex-direction: column;
  }
  .menubar {
    width: 0;
    display: none;
  }

  /* banner */
  .banner {
    object-fit: cover;
    width: 90%;
    margin: 20px auto;
  }
  .banner-title {
    font-size: var(--mobile-font-size);
  }
  .banner-description {
    width: 90%;
    text-align: center;
  }
  .banner-form {
    width: 80%;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .input {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    color: #13131880;
    text-align: center;
    border: none;
  }
  #where {
    width: calc(100% - 20px);
  }
  .banner-btn {
    width: 100%;
  }

  /* Our Popular Tour */
  .image-text-section {
    flex-direction: column;
    width: 90%;
    gap: 25px;
  }
  .section-text-container {
    gap: 20px;
    width: 100%;
  }
  .section-image {
    max-width: 100%;
    object-fit: cover;
  }
  .section-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  .section-points {
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .image-over-text {
    background-image: url(../Images/Group40089.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 15px;
  }
  /* Choose Destination */
  .choose-destination-section {
    margin: 25px auto;
  }
  .section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 80%;
  }
  .destination-image-container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .destination-image-container div img {
    width:90%;
    height: 250px;
  }

  /* Choose-us  */
  .services {
    width: 90%;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
  #card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
  }
  #card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
  }
  #card3 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
  }
  .card-img {
    width: 48px;
    height: 48px;
  }
  #card-pera1 {
    width: 271px;
  }
  #card-pera2 {
    width: 271px;
  }
  #card-pera3 {
    width: 271px;
  }
  /* Deals and discount */
  .discount1 {
    /* height: 500px; */
    justify-content: space-evenly;
    flex-direction: column;
    object-fit: cover;
    width: 90%;
    margin: 20px auto;
  }
  .discount2 {
    justify-content: space-evenly;
    flex-direction: column;
    flex-direction: column-reverse;
    object-fit: cover;
    width: 90%;
    margin: 20px auto;
  }
  .discount3 {
    justify-content: space-evenly;
    flex-direction: column;
    flex-direction: column;
    object-fit: cover;
    width: 90%;
    margin: 20px auto;
  }
  .discount-text-container {
    width: 75%;
    height: 600px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 16px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2.5px);
  }
  /* Newsletter */
  .newsletter {
    margin: 80px auto;
    width: 90%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .newsletter-form {
    justify-content: space-around;
    border-radius: 16px;
    padding: 20px;
    gap: 15px;
    margin-top: 180px;
  }
  .newsletter-input {
    font-size: var(--mobile-font-size);
    border-radius: 0.5rem;
    padding: 0 10px;
    width: 288px;
    height: 52px;
  }
  .newsletter-form > .btn {
    width: 310px;
    height: 52px;
    padding: 0px 10px;
  }
  .newsletter-image-container > button {
    font-size: 1.2rem;
    width: 215px;
    height: 80px;
    transform: rotate(-20deg);
    position: absolute;
    top: 208px;
    right: 7px;
  }
  .newsletter-img {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    position: relative;
  }
  #btn-span {
    font-size: 0.8rem;
    font-weight: var(--paragraph-font-weight);
  }
  /* footer */
  .footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(19, 19, 24, 0.05);
    padding: 25px;
  }
  .logo2 {
    display: flex;
    gap: 10px;
  }
  .footer-img-container {
    display: flex;
    gap: 25px;
  }
  #footer-para {
    text-align: center;
  }
  #footer-para1 {
    text-align: center;
  }
  hr {
    width: 335px;
    background-color: #1313181a;
  }
  .social {
    width: 24px;
    height: 24px;
  }
  .footer-logo-img {
    width: 35px;
  }
}
