@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");

:root {
  --primary-color: #ff5400;
  --second-color: #131318;
  --third-color: #ffffff;
  --paragraph-color: #5a5a5d;
  --primary-font-size: 2.5rem;
  --secondary-font-size: 1rem;
  --mobile-font-size: 1.2rem;
  --btn-text: 1.2rem;
  --title-font-weight: 800;
  --paragraph-font-weight: 400;
}
/* Common Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mulish", sans-serif;
  max-width: 1440px;
  margin:0 auto;
}
.title {
  font-size: var(--primary-font-size);
  font-weight: var(--title-font-weight);
  color: var(--second-color);
}
.secondary-title {
  color: var(--second-color);
  font-size: 1.5rem;
  font-weight: 800;
}
.paragraph {
  font-size: var(--secondary-font-size);
  color: var(--paragraph-color);
  font-weight: var(--paragraph-font-weight);
}
.btn {
  width: 180px;
  height: 50px;
  color: white;
  text-align: center;
  font-size: var(--btn-text);
  background-color: var(--primary-color);
  border-radius: 8px;
  border: none;
}
/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 6%;
}
.logo {
  padding-left: 1%;
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-title {
  font-size: var(--primary-font-size);
  font-weight: var(--title-font-weight);
}
.logo-title2 {
  color: var(--primary-color);
}
.full-menu {
  width: 50%;
}
.menubar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-icon {
  display: none;
}
.menu {
  text-decoration: none;
  font-size: var(--secondary-font-size);
  color: var(--paragraph-color);
  font-weight: var(--paragraph-font-weight);
}

.home-btn {
  color: var(--primary-color);
}
/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner-background.png");
  width: 1170px;
  height: 500px;
  margin: 50px auto 100px auto;
  border-radius: 16px;
}
.banner-title {
  font-size: 4rem;
  color: white;
}
.banner-description {
  color: #ffffff;
  width: 60%;
}
.banner-form {
  padding: 15px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.input {
  width: 180px;
  height: 50px;
  padding: 0px 10px;
  font-size: 1rem;
  border-radius: 8px;
  color: #13131880;
  border: none;
}
/* Our Popular sTour */
.image-text-section {
  margin: 0 auto;
  width: 88%;
  display: flex;
  justify-content: space-between;
}
.section-text-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  flex-direction: column;
}

.section-points {
  font-size: var(--secondary-font-size);
  color: var(--paragraph-color);
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-image-container {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
}

.section-image {
  width: 100%;
  height: 100%;
}
.image-over-text {
  background-image: url(../Images/Group40089.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 610px;
  height: 424px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 15px;
}
/* Choose you destination */
.choose-destination-section {
  margin: 100px auto;
}
.section-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  gap: 10px;
}
.destination-image-container {
  margin: 0 auto;
  width:90%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 300px);
  row-gap: 20px;
}

.destination-image {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  height: 300px;
}
#photo1 {
  background-image: url(../Images/Rectangle\ 5.png);
  grid-column: span 6;
  width: 573px;
  background-size: cover;
}
#photo2 {
  background-image: url(../Images/Rectangle\ 8.png);
  grid-column: span 6;
  width: 573px;
  background-size: cover;
}
#photo3 {
  background-image: url(../Images/Rectangle\ 6.png);
  grid-column: span 4;
  width: 374px;
  height: 286px;
  background-size: cover;
}
#photo4 {
  background-image: url(../Images/Rectangle\ 7.png);
  grid-column: span 5;
  width: 474px;
  height: 286px;
  background-size: cover;
}
#photo5 {
  background-image: url(../Images/Rectangle\ 9.png);
  grid-column: span 3;
  width: 274px;
  height: 286px;
  background-size: cover;
}
#photo6 {
  background-image: url(../Images/Rectangle\ 11.png);
  grid-column: span 5;
  width: 473px;
  background-size: cover;
}
#photo7 {
  background-image: url(../Images/Rectangle\ 10.png);
  grid-column: span 7;
  width: 673px;
  background-size: cover;
}
/* Choose-us */
.services{
    margin: 100px auto 50px auto;
    justify-content: center;
    align-items: center;
    gap:25px;
    display:grid;
    grid-template-columns: repeat(2, 573px);
}
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding:30px;
}
#card1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#card2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#card3 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card-img {
  width: 64px;
  height: 64px;
}
#card-pera1{
    width: 486px;
}
#card-pera2{
    width: 486px;
}
#card-pera3{
    width: 486px;
}
/* Newsletter */
.newsletter {
  width: 88%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--primary-color);
  padding: 20px;
  gap: 15px;
}
.newsletter-input {
  color: rgba(19, 19, 24, 0.3);
  font-size: var(--secondary-font-size);
  font-weight: var(--paragraph-font-weight);
  border-radius: 0.5rem;
  background: rgba(19, 19, 24, 0.05);
  padding: 0 10px;
  border: none;
  width: 393px;
  height: 52px;
}
.newsletter-form > .btn {
  width: 413px;
  height: 52px;
  padding: 0px 10px;
}
.newsletter-image-container {
  position: relative;
}
.newsletter-image-container > button {
  font-size: 2rem;
  width: 324px;
  height: 120px;
  transform: rotate(-20deg);
  position: absolute;
  top: 250px;
  right: 10px;
}
#btn-span {
  font-size: 1.2rem;
  font-weight: var(--paragraph-font-weight);
}
/* Footer */
.footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    background-color: rgba(19, 19, 24, 0.05);
    padding:100px;
}
.logo2{
    display:flex;
}
.footer-img-container{
    display:flex;
    gap:24px;
}
#footer-para{
    text-align: center;
}
hr{
    width: 1000px;
    background-color: #1313181A;
}
.social{
    width:48px;
    height:48px;
}